@page "/"
@page "/process/{ProcessName}"

@using System.Timers
@using logger.Data
@using dimalat.RemoteDockerLogsFetcher

@inject LogsService LogsService
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<h2>User Settings</h2>
<input type="checkbox" checked="@AutoFetchEnabled" @onchange="async e => { await CheckboxClicked(e.Value); }" /> Auto
Fetch Enabled<br />

<select @onchange="SelectChanged">
    <option value="50" selected="@(FetchedLogCount == 50)">50</option>
    <option value="200" selected="@(FetchedLogCount == 200)">200</option>
    <option value="2000" selected="@(FetchedLogCount == 2000)">2000</option>
</select> Logs to fetch

<h2>Logs</h2>

@if (logs == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table>
    <tr>
        <th>Log Type</th>
        <th>Message</th>
    </tr>
    @foreach (var log in logs)
        {
            <tr>
                <td>@log.Type.ToString()</td>
                <td>@log.Message</td>
            </tr>
        }
    </table>
}

@code {
    private string _processName;

    [Parameter]
    public string ProcessName
    {
        get
        {
            return _processName;
        }
        set
        {
            _processName = value;
        }
    }

    public bool AutoFetchEnabled { get; set; }
    public int FetchedLogCount { get; set; }

    private List<Log> logs;
    private Timer interval;

    protected override async Task OnInitializedAsync()
    {
        FetchedLogCount = int.Parse(
            (await localStorage.GetItemAsStringAsync("logCount")) ?? "50");

        logs = await LogsService.GetLastLogs(FetchedLogCount);

        AutoFetchEnabled = bool.Parse(
            (await localStorage.GetItemAsStringAsync("intervalEnabled")) ?? "True");

        SetDataFetchInterval();
    }

    private void SetDataFetchInterval()
    {
        interval = new System.Timers.Timer(2000);
        interval.Elapsed += OnTimedEvent;
        interval.AutoReset = true;
        interval.Enabled = AutoFetchEnabled;
    }

    private async Task SelectChanged(ChangeEventArgs e)
    {
        FetchedLogCount = int.Parse(e.Value.ToString());
        await localStorage.SetItemAsync("logCount", FetchedLogCount.ToString());
    }

    private async Task CheckboxClicked(object checkedValue)
    {
        AutoFetchEnabled = (bool)checkedValue;
        interval.Enabled = (bool)checkedValue;
        await localStorage.SetItemAsync("intervalEnabled", checkedValue.ToString());
    }

    private async void OnTimedEvent(object sender, EventArgs e)
    {
        // InvokeAsync is inherited, it syncs the call back to the render thread
        await InvokeAsync(async () =>
            {
            logs = await LogsService.GetLastLogs(FetchedLogCount, ProcessName);
            StateHasChanged();
        });
    }
}
